@font-face {
    font-family:UnifrakturCook;
    src: url(../pages/noticias.html);
}

.logo{
    font-family: UnifrakturCook;
    font-size: 5rem;
    color: var(--bs-indigo);
}

.container {
    margin-top: 35px;
    margin-left: 30px;
    display: flex;
    justify-content:space-between;
}

.chamativo {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    color: #d34343;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    text-align: center;
    padding-top: 12px;
}
p{
    color: rgb(46, 46, 46);
}
h1{
    color: black;
}




